# Misc
*.swp
**/.idea/*
.DS_Store
*.log
dist/
build/

# Python
*.egg-info
.pytest_cache
*.pyc
.venv
venv
.mypy_cache

# Tracks API sqlite databases
db/

# Ignore migrations for now
**/migrations/*

# Local env files
.env.local

# Virtualenv dirs
media/music
media/images
tracks.sqlite

# Coverage
.coverage

# Generated static files
static/
