Django==3.1.9
django-imagekit==4.0.2
djangorestframework==3.12.2
django-cors-headers==3.6.0
google-api-python-client==1.12.8
gunicorn==20.0.4
mutagen==1.45.1
Pillow==8.3.2

# Mediafile fork with popm
git+git://github.com/wolkenarchitekt/mediafile.git#egg=mediafile
